<% if resource.errors.any? %>
  <div id="error_explanation " class="alert alert-danger">
    <h3 class="text-center`">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
      %>
    </h3>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <div class="alert alert-dismissible fade show <%= bootstrap_class_for(name) %>" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <li><%= message %></li>
        </div>
      <% end %>
    </ul>
  </div>
<% end %>
